@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

$instagramgradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

.portfolio {
    background-color: #28282B;

    .slider {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        
        .itemwrapper {
            max-width: 40vw;
            margin: 0vh 5vw;
            margin-bottom:1vh;
            max-height: 44vh;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            transition: all 1s ease-in;





            //Instagram

            .instagramy {
                background: $instagramgradient;
                max-width: 600px;
                
                height: 300px;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px, rgba(0, 0, 0, 0.3) 0px 10px 15px -5px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
                transition: all 1s ease-in;
                margin-top: 3%;
                left: 10px;

                @include mobile {
                    margin: 10%;
                    width: 80%;
                    height: 75%;
                    margin-bottom: 0%;
                }




                &:hover {
                    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
                }

                .thumbnail {
                    overflow: hidden;
                    width: 90%;
                    height: 90%;

                    .tn {
                        flex: 1;
                        width: 60%;
                        height: 100%;
                        border-image-repeat: round;
                        position: relative;
                        left: 25%;
                        bottom: 10%;
                        transition: all 2s ease;
                        @include mobile {
                            width:80%;
                            left:15%;
                            bottom: 0%;
                            
                        }


                    }
                }

                .caption {
                    position: relative;
                    bottom: 13%;
                    left: 20%;
                    color: #28282B;
                    text-decoration: solid;
                    font-size: 2vw;
                    font-family: 'Kalam', cursive;
                    font-weight: 700;

                    @include mobile{
                        opacity: 0;
                    }
                    
                }

                


            }
            .belowcaption{
                opacity: 0;
                color: whitesmoke;
                position: relative;
                text-decoration: solid;
                font-size: 1.7vh;
                font-family: 'Kalam', cursive;
                font-weight: 700;
                text-align: center;
                @include mobile{
                    opacity:1;
                    margin-top: 0%;
                }                    
            }


            //General

            .react,.exercise{
                background-color: bisque;
                width: 600px;
                height: 300px;
                overflow: hidden;
                margin-top: 3%;
                margin-bottom: 0%;
                
                @include mobile {
                    margin: 10%;
                    width: 100%;
                    height: 75%;
                    margin-bottom: 0%;
                   
                }


                .thumbnail {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;

                    .tn {
                        flex: 1;
                        width: 100%;
                        height: 100%;
                        
                    }
                }

                .caption {
                    position: relative;
                    left: 20%;
                    bottom: 12%;
                    color: black;
                    font-size: 24px;
                }

                &.row2 {
                    margin-top: 0%;

                    @include mobile {
                        margin-top: -20%;
                    }
                }
            }
            
            .exercise{
                background-color: #f6ecc4;
                background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
                .thumbnail{
                    .tn{
                    width:100%;
                    height: 140%;
                    position: relative;
                    bottom: 25%;
                    @include mobile {
                        width:120%;
                        height: 125%;
                        top: 0%;
                        right: 10%
                        }
                    }
                }
                .caption{
                    left:18%;
                    bottom: 23%;
                    font-size: 32px;
                    font-family: 'Kalam', cursive;
                    color: #28282B;
                }
            }
            

            .react{
                background-color: #eec0c6;
                background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
                transition: 1s all ease-in;

                .thumbnail{
                    .tn{
                        width:60%;
                        height: 300px;
                        position: relative;
                        left:20%;
                        bottom: 8%;
                        @include mobile {
                            width:80%;
                            left:10%;
                            
                            
                        }
                    }
        
                }
                .caption{
                    left:30%;
                    bottom: 17%;
                    font-size: 32px;
                    font-family: 'Kalam', cursive;
                    color: #28282B;
                }

                
            }
            &:hover {
                box-shadow: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
                transform: scale(1.1);
            }

        }




    }

    
}