@import "../../global.scss";

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@keyframes example {}


.intro {
  
  background-color: #28282B;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  width: 100vw;
  height:100vh;
  padding-bottom: 6vh;
  overflow: hidden;

  @include mobile{
    padding-bottom: 7vh;
  }




  .wrapper {
    display: flex;
    overflow: hidden;

    @include mobile {
      flex-direction: column;
    }

    .left {
      width: 100%;
      display: flex;
      overflow: hidden;
      @include mobile {
        width:100vw;
        height:100vh;
      }

      .textbox {
        transition: all 1s ease;
        position: relative;
        top: 20%;
        left: 15%;
        width: 65%;
        height: 65%;

        background-color: rgb(71, 71, 71);
        overflow: hidden;
        border-radius: 10%;

        @include mobile {
          font-size: 7vw;
          top: 20%;
          left: 10%;
          width: 80%;
          height: 80%;
        }

        .greeting {
          display: flex;
          width: 100%;
          height: 8vh;
          margin-top: 2vw;
          margin-left: 1.7vw;
          color: white;
          font-size: 3.5vw;
          overflow: hidden;

          @include mobile {
            font-size: 20px;
            height: 3.5vh;
            margin-top: 2.5vh;
            margin-left: 1.7vw;

          }

        }

        .Initials {
          display: flex;
          width: 100%;
          height: 7vw;

          margin-left: 1.7vw;
          color: white;
          overflow: hidden;
          align-items: baseline;

          @include mobile {
            height: 9vh;
            
          }

          .im {
            font-size: 1.1vw;
            width: 9vw;
            overflow: hidden;
            @include mobile {
              font-size: 3.3vw;
            }
          }

          .Name {
            font-size: 6.3vw;
            color: salmon;
            font-family: 'Cookie';

            @include mobile {
              font-size: 17vw;
            }
            
          }
        }

        .detail {
          display: flex;
          flex-direction: column;
          overflow: auto;
          width: 100%;
          margin-top: 2vh;
        

          .college {
            display: flex;
            margin-left: 1.5vw;
            color: white;
            font-size: 1.1vw;
            width: 100%;
            height: 1.4vw;
            overflow: hidden;

            @include mobile {
              font-size: 3.2vw;
              height: 2.3vh;
              margin-top: 8px;
              text-wrap: wrap;
              
            }

            .gradicon {
              position: relative;
              bottom: 3px;
              width: 1.4vw;
              height: 1.6vw;
              margin-right: 9px;

              
            }
          }

          .age {
            display: flex;
            color: white;
            margin-top: 1.4vw;
            margin-left: 1.4vw;
            color: white;
            font-size: 1.1vw;
            width: 100%;
            height: 1.4vw;
            overflow: hidden;

            @include mobile {
              font-size: 3.2vw;
              height: 2.3vh;
              margin-top: 8px;
              text-wrap: wrap;
            }

            .ageicon {
              position: relative;
              bottom: 3px;
              width: 1.4vw;
              height: 1.6vw;
              margin-right: 9px;
              margin-top: 1.2px;
            }
          }

          .loc {
            display: flex;
            color: white;
            margin-top: 1.4vw;
            margin-left: 1.4vw;
            color: white;
            font-size: 1.1vw;
            width: 100%;
            height: 1.4vw;
            overflow: hidden;

            @include mobile {
              font-size: 3.2vw;
              height: 2.3vh;
              margin-top: 8px;
              text-wrap: wrap;
            }

            .locicon {
              position: relative;
              bottom: 3px;
              width: 1.4vw;
              height: 1.6vw;
              margin-right: 9px;
              margin-top: 1.2px;
              
            }
          }

          .job {

            display: flex;
            color: white;
            margin-top: 1.4vw;
            margin-left: 1.4vw;
            color: white;
            font-size: 1.1vw;
            width: 100%;
            height: 1.4vw;
            overflow: hidden;

            @include mobile {
              font-size: 3.2vw;
              height: 2.3vh;
              margin-top: 8px;
              text-wrap: wrap;
            }
            .jobicon {
              position: relative;
              bottom: 3px;
              width: 1.4vw;
              height: 1.6vw;
              margin-right: 9px;
              
            }
          }
        }


        &:hover {
          transform: scale(1.2);
        }

      }





    }


    .right {
      width: 100%;
      display: flex;
      overflow: hidden;
      
      
      .graphic{
        overflow: hidden;
          width: 100%;
          height: 100%;
          margin-top:5%;
          @include mobile {
            margin-top: 10%;
            margin-left: 12%;
      }
        .graphicvid {
            width:80%;
            height:80%;
          }
        }

    

      .arrow {
        display: flex;
        width: 50px;
        height: 50px;
        position: relative;
        top:90%;
        right:55%;
        text-decoration: none;
        transition: all 1s ease;

        @include mobile{
          top: 50%;
          right:10%;
        }

      
    }
  }


  }
}





