@import "./global.scss";
.App{
    height: 100vh;
    width: 100vw;

    .sections{
        box-sizing: border-box;
        width:100%;
        height: calc(100vh - 70px);
        background-color: salmon;
        position: relative;
        z-index: 0;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display:none;
        }

        @include mobile{
            height: calc(100vh - 20px);
            top: 20px;
    }

        *{
            box-sizing: border-box;
            width:100vw;
            height:calc(100vh - 70px);
            scroll-snap-align: start;

            @include mobile{
                height: calc(100vh - 20px);
                top: 20px;
        }
            
            
        }
    }
}